<div class="row header">
	<div class="col-sm-1 col-sm-offset-1"><%= image_tag "side by side logo.png" %></div>
	<div class="col-sm-3 col-sm-offset-6"><h1>360-667-3340</h1></div>

</div>

<div class="row topper">
	<div class="col-sm-8 col-sm-offset-2">
		<h1>Two distinct divisions. One ambititious goal</h1>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 left">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-2 left-central">
				<h2><span class="logo-silver">Silver</span><span class="logo-blue">trek</span> Services</h2>
			</div>
			<div class="col-sm-10 col-sm-offset-2 left-central">
				<p>Really, it's just <strong>bookkeeping</strong> for the 21st century. Paperless, effortless, tear-free administrative management.</p>
				<br/>
			</div>
		</div>
	</div>
	<div class="col-sm-6 right">
		<div class="row">
			<div class="col-sm-10 right-central">
				<h2><span class="logo-silver">Silver</span><span class="logo-blue">trek</span> Consulting</h2>
			</div>
			<div class="col-sm-10 right-central">
				<p>As <a url="www.viewpointcs.com">Viewpoint Construction Software</a> Certified consultants, we use all our administrative knowledge while helping you switch accounting systems, improve your processes, or write custom reports.</p>
			</div>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-sm-6 left">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-2 left-central">
				<h3>Flexible.</h3>
				<div class="snug">fees flex with your revenue</div>
			</div>
			<div class="col-sm-10 col-sm-offset-2 left-central">
				<h3>Considered.</h3>
				<div class="snug">analyzed statements and early warnings</div>
			</div>
			<div class="col-sm-10 col-sm-offset-2 left-central">
				<h3>Easy.</h3>
				<div class="snug">no staff to manage.</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 right">
		<div class="row">
			<div class="col-sm-10 right-central">
				<h3>Fast.</h3>
				<div class="snug">don't ask us to do something if you don't want it done now</div>
			</div>
			<div class="col-sm-10 right-central">
				<h3>Broad-minded.</h3>
				<div class="snug">we see the whole picture.</div>
			</div>
			<div class="col-sm-10 right-central">
				<h3>Process-driven.</h3>
				<div class="snug">software that doesn't match your process is worthless. pitch it.</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-6 left">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-2 left-central">
				<br/>
				<div class="left-header">
					<h2>Perceptive Data Entry</h2>
				</div>
			</div>
			<div class="col-sm-10 col-sm-offset-2 left-central">
				<p>Perhaps the most basic (and the most reviled) task among business owners is the day-to-day
					entry of all the masses of generated data of a successful business. You email stuff in (invoices, receipts,
					requests for owner draw etc.), and the little Silvertrek elf takes care of it. Plus, given we
					have so much "boring" stuff to do, we spend time, effort, and money making this task smarter
					and easier to give you the most accurate and fast feedback.
				</p>
			</div>
			<div class="col-sm-10 col-sm-offset-2 left-central">
				<div class="row">
					<div class="col-sm-1 col-sm-offset-2 head-shot-circle" title="owen@silvertreksystems.com">
						<%= image_tag "owen_circle_small.png" %>
					</div>
					<div class="col-sm-5 col-sm-offset-1">
						<h4>Owen Granger</h4>
						<p>Accountant, Battle Ground, WA</p>
					</div>
				</div>
			</div>
			<div class="col-sm-10  col-sm-offset-2 left-central">
				<div class="left-header">
					<h2>Accounting</h2>
				</div>
			</div>
			<div class="col-sm-10 col-sm-offset-2 left-central">
				<p>We provide you accurate financial statements once a month whether you want
				'em or not. And if you don't already know how, we teach you to read them and
				to see trends and patterns. Our firm belief is that these reports aren't mere
				historical documents, but tools that you can use to intuit the best path in the
				future.
				</p>
			</div>
			<div class="col-sm-10 col-sm-offset-2 left-central">
				<div class="row">
					<div class="col-sm-1 col-sm-offset-2 head-shot-circle" title="kelly@silvertreksystems.com">
						<%= image_tag "kelly_circle_small.png" %>
					</div>
					<div class="col-sm-5 col-sm-offset-1">
						<h4>Kelly Davis</h4>
						<p>Certifiable Accountant, Battle Ground, WA</p>
					</div>
				</div>
			</div>
			<div class="col-sm-10  col-sm-offset-2 left-central">
				<div class="left-header">
					<h2>and so much more</h2>
				</div>
			</div>
			<div class="col-sm-10 col-sm-offset-2 left-central">
				<p>Most bookkeepers end up there, where you see the word "Accounting." But at that point
				we're just getting started. Payroll, Human Resource admin work, safety report
				and inspection record-keeping, IT and security management... Our goal is to grow alongside
				our customers, providing them all the office staff they need.
				</p>
			</div>
			<div class="col-sm-10 col-sm-offset-2 left-central">
				<div class="row">
					<div class="col-sm-1 col-sm-offset-2 head-shot-circle">
						<%= image_tag "tiff_circle_small.png" %>
					</div>
					<div class="col-sm-5 col-sm-offset-1" title="tiffany@silvertreksystems.com">
						<h4>Tiffany Massie</h4>
						<p>Administrative Manager, Palmer, AK</p>
					</div>
				</div>
				<br/>
				<br/>
				<br/>
				<br/>
			</div>
		</div>
	</div>
	<div class="col-sm-6 right">
		<div class="row">
			<div class="col-sm-10 right-central">
				<br/>
				<div class="right-header">
					<h2>Custom Reports</h2>
				</div>
			</div>
			<div class="col-sm-10 right-central">
				<p> World class custom reports. When you need 'em, not 6 months later.
					We know the Viewpoint from the outside in, and can't help but get
					excited when you come up with a great new idea for us to build.
				</p>
			</div>
			<div class="col-sm-10 right-central">
				<div class="row">
					<div class="col-sm-11">
						<h4>David Morgan</h4>
						<p>Developer <br/>Battle Ground, WA</p>
					</div>
					<div class="col-sm-1 head-shot-circle" title="david@silvertreksystems.com">
						<%= image_tag "headshotcircleblue.png" %>
					</div>
				</div>
			</div>

			<div class="col-sm-10 right-central">
				<div class="right-header">
					<h2>Lean Implementations</h2>
				</div>
			</div>

			<div class="col-sm-10 right-central">
				<p> We see a lot of diffenent methods of doing things--some we like, and
				some that work, and some that are both. And we get to discard the bad ideas
				and take the new ideas with us. You are the beneficiary as much as we are whenever
				a better way of doing things comes up. If you're implementing Viewpoint for the
				first time, or just want to rethink things we can help you.
				</p>
			</div>
			<div class="col-sm-10 right-central">
				<div class="row">
					<div class="col-sm-11">
						<h4>Rex Halling</h4>
						<p>Implementation Consultant <br/>Minneapolis, MN</p>
					</div>
					<div class="col-sm-1 head-shot-circle" title="rex@silvertreksystems.com">
						<%= image_tag "rex_circle_small.png" %>
					</div>
				</div>
			</div>

			<div class="col-sm-10 right-central">
				<div class="right-header">
					<h2>Why Viewpoint?</h2>
				</div>
			</div>

			<div class="col-sm-10 right-central">
				<p> There's lots of different accounting systems, and Viewpoint is the best we've
				found for sophisticated, large construction companies. We get paid to learn how
				professional construction companies run the adminsitrative parts of their business
				and how they use software to do it--and we feel that's an invaluable lesson.
				</p>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
				<br/>
			<div class="adjust"></div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 bottom text-center">

		<h2>Wait. So what's behind this Silvertrek thing?</h2>
		<h3>First, the inalienable:</h3>
	</div>

	<div class="col-sm-12 bottom">

		<div class="row">
			<div class="col-sm-5 col-sm-offset-3 text-justify no-pip">
			<ul>
				<li><strong>We believe</strong> in learning and the ability to learn. We do not seek knowledge, though some knowledge will be attained; rather, We seek learning for the thrill of learning. Knowledge that is attained must be coupled with humility, for knowledge without wisdom is empty, and wisdom is given, not learned.</li>

				<br/>

				<li><strong>We believe</strong> that a bad action is better than no action at all. Action must be taken, and corrective action must sometimes also be taken, but we shall never wait and see</li>

				<br/>

				<li><strong>We believe</strong> that we must take full ownership of our work, take full accountability for our mistakes, and fully believe in our and our customer's business.</li>

				<br/>

				<li><strong>We believe</strong> that work is fun, and business is fun. We face down every challenge with a smile. Life sometimes must have pain, but it mustn't needs have suffering.</li>
				<br/>
				<li>Think about it.</li>
			</ul>

			</div>
		</div>



	</div>
</div>

<div class="row">
	<div class="col-sm-12 bottom">
		<br/>

		<br/>
		<br/>
		<div class="col-sm-2 col-sm-offset-5 text-center"><%= image_tag "headshotcircle.png" %></div>
		<div class="col-sm-6"></div>
		<div class="col-sm-4 col-sm-offset-4 text-center">
			<h4>Michael Kelley</h4>
			<p>President <br/>Kiruna, Sweden</p>
			<p>Call me anytime, or email me at michael@silvertreksystems.com</p>
		<br/>
		<br/>
		<br/>
	</div>

</div>
